body{
font-family: Arial;
margin:0;
background:#f4f6f7;
text-align:center;
}

header{
background:#2ecc71;
color:white;
padding:20px;
}

main{
max-width:600px;
margin:auto;
padding:20px;
}

.form-section{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
margin-bottom:30px;
}

.queue-section{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

input,select{
width:90%;
padding:10px;
margin:10px;
font-size:16px;
}

button{
background:#27ae60;
color:white;
border:none;
padding:12px;
width:95%;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1e8449;
}

ul{
list-style:none;
padding:0;
}

li{
padding:10px;
border-bottom:1px solid #eee;
}

footer{
margin-top:20px;
color:#777;
}
#cordeur-btn{

position:absolute;
top:20px;
right:20px;
background:#34495e;
color:white;
border:none;
padding:10px 15px;
border-radius:5px;
cursor:pointer;

}

#cordeur-panel{

background:#fff3cd;
padding:20px;
margin-top:30px;
border-radius:10px;

}

.finish-btn{

background:#e74c3c;
color:white;
border:none;
padding:6px 10px;
margin-left:10px;
border-radius:4px;
cursor:pointer;

}
